
main{
    display: flex ;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    width: 90vw;
    box-shadow: 5px 5px #0000;
}

nav.nav-bar{
    background-image: url(../../assets/images/bg-sidebar-desktop.svg);
    background-size: cover;
    padding: 20px;
    height: 80vh;
    font-family: 'Ubuntu-Bold';
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
    aspect-ratio: 2/4;
    border-radius: 10px;
}
 .nav-bar li{
    margin-bottom: 30px;
    list-style: none;
    counter-reset: i;
 }
 .nav-bar li::before{
    counter-increment: i+1;
    content:  counter(i);
    border: 1px solid rgba(255, 255, 255, 0.548);
    border-radius: 50%;
    padding: 2px 4px;
    display: inline-block;
    margin-right: 10px;
 }
 .nav-bar li span{
   display: inline-block;
 }
 .nav-bar li .step{
    font-size: 12px;
    font-family: 'Ubuntu-Regular';
 }

.title{
   margin-bottom: 40px;
}
 .title h1{
   color: #052859;
 }
 .title p{
   color: #00000041;
 }

button{
   height:40px;
   width: 100px;
   border-radius: 5px;
   border: 0px;
   float: right;
   cursor: pointer;
}
