
main{
    display: flex ;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
}

nav.nav-bar{
    background-image: url(../../assets/images/bg-sidebar-desktop.svg);
    background-size: cover;
    padding: 20px;
    height: 80vh;
    font-family: 'Ubuntu-Bold';
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
    aspect-ratio: 2/4;
    border-radius: 10px;
}
 .nav-bar li{
    margin-bottom: 30px;
    list-style: none;
 }
 .nav-bar li::before{
    content: counter(i);
 }
 .nav-bar li span{
    font-size: 12px;
    font-family: 'Ubuntu-Medium';
 }


