.form{
    height: 80vh;
}
.form label{
    z-index: 0.5;
}
.form input{
    height: 40px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.377);
    border-radius: 8px;
    margin-bottom: 30px;
    cursor: pointer;
}

.form input:hover, .form input:active{
    border:1px solid #330559;
}

/* AddOn */
 .addOn .box{
    width: 100%;
    border: 1px solid black;
    margin: 10px 0;
    
 }