 *{
  margin: 0;
  box-sizing: border-box;
 }
 button.action{
    background-color: #052859;
    color: white;
  }
  button.return{
    background-color: white;
    color: rgba(255, 255, 255, 0.322);
  }
  
