@font-face {
  font-family: 'Ubuntu-Regular' ;
  src: url(./assets/fonts/Ubuntu-Regular.ttf);
}
@font-face {
  font-family: 'Ubuntu-Bold' ;
  src: url(./assets/fonts/Ubuntu-Bold.ttf);
}
@font-face {
  font-family: 'Ubuntu-Medium' ;
  src: url(./assets/fonts/Ubuntu-Medium.ttf);
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
<<<<<<< HEAD
button.action{
  background-color: #052859;
}
button.return{
  background-color: white;
}
=======
>>>>>>> cc7f4fa (Updated nav bar and Info component)

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
